@font-face { font-family: Montserrat; src: url("res/Montserrat-Regular.ttf"); }
@font-face { font-family: Montserrat-Bold; src: url("res/Montserrat-Bold.ttf"); }

html {
	overflow-y: scroll;
	/* prevents page horizontal jerk when scrollbar appears or disappears */
}

body{
	font-size: 16px;
	background-image: url("res/bg4.png");
	background-color: #F4EEF0;
	font-family: Arial;
	text-align: center;
	min-height: 100%;
}

h1 {
	font-family: Montserrat-Bold;
	font-size: 32px;
	line-height: 0px;
	color:#664532;
	text-align: center;
}

h2 {
	font-family: Montserrat-Bold;
	font-size: 18px;
	color:#664532;
	cursor: pointer;
}

h3 {
	font-family: Montserrat-Bold;
	font-size: 18px;
	line-height: 0px;
	color:#664532;
	cursor: pointer;
}

button {
	background-color: rgba(0, 0, 0, 0);
	border: 0px;
	cursor: pointer;
}

p {
	margin: 0px;
	padding: 0px;
	color: #1B080C;
}

a:link {
	color: #6595DF;
	text-decoration: none;
}

a:visited {
	color: #6595DF;
	text-decoration: none;
}

a:hover {
	color: #6595DF;
	text-decoration: none;
}

a:active {
	color: #6595DF;
	text-decoration: none;
}

.green {
	color: #D8D8BE;
}

.title {
	margin-left: -236px;
	display: block;
	float: left;
}

.branch {
	margin-right: -790px;
	margin-top: 240px;
	display: block;
	float: right;
}

.label {
	float: right;
	width: 500px;
	text-align: center;
	vertical-align: bottom;
}

.main {
	display: inline-block;
	width: 752px;
	background-color: #F4EEF0;
	border-radius: 8px;
	margin:0 auto;
    margin-top:-40px;
	padding:22px;
    padding-top:40px;
    border:2px solid #D8D8BE;
    position:relative;
    -webkit-box-shadow: inset 0px 0px 0px 20px #664532, inset 0px 0px 0px 22px #D8D8BE;
	-moz-box-shadow: inset 0px 0px 0px 20px #664532, inset 0px 0px 0px 22px #D8D8BE;
	box-shadow: inset 0px 0px 0px 20px #664532, inset 0px 0px 0px 22px #D8D8BE;
}

#header {
	width: 760px;
	margin: 12px;
	display: inline-block;
}

.twinput {
	width: 500px;
	outline-color: #D8D8BE;
	resize: none;
	font-size: 18px;
	font-family: Arial;
}

.submit {
}

#sidebar {
	float:left;
	width: 252px;
	position: absolute;
	bottom: 22px;
	top: 144px;
	background-image: url("res/feathers.png");
	background-repeat: repeat-y;
}

.bluebox {
	margin: 12px;
	margin-top: 0px;
	background-color: #6595DF;
	display: block;
	padding: 8px;
}

#content {
	float: right;
	width: 500px;
}

.tweet {
	padding: 8px;
	padding-left: 28px;
	background-color: #D8D8BE;
}

.tweet:nth-child(even) {
	background-color: #F4EEF0;
}

.timestamp {
	position: relative;
	display: block;
	float: right;
	top: 18px;
	right: 10px;
	line-height: 0px
}